.background {

	-fx-background-image : url(server/server-back.png);
	-fx-background-color:#ea8827;
	-fx-background-size: cover;
	
}


.label {
    -fx-font-size: 13pt;
    -fx-font-family: "方正幼线简体 常规";
	-fx-text-fill: #353535;
    -fx-opacity: 1;
}


.label-header {
    -fx-font-size: 20pt;
    -fx-font-family: "方正幼线简体 常规";
    -fx-text-fill: #353535;
    -fx-opacity: 1;
}


.button-out {
	-fx-background-image : url(server/stopp.png);
	-fx-background-color: #282828;
	-fx-border-style:none;
}

.button-out:hover {
   -fx-background-image : url(server/stop-hover.png);
}

.button-out:pressed, .button-out:default:hover:pressed {
   -fx-background-image : url(server/stop-pressed.png);
}

.button-out:focused{
   -fx-border-style:none;
}


.button-begin {
	-fx-background-image : url(server/start.png);
	-fx-background-color: #282828;
	-fx-border-style:none;
}

.button-begin:hover {
   -fx-background-image : url(server/start-hover.png);
}

.button-begin:pressed, .button-begin:default:hover:pressed {
   -fx-background-image : url(server/start-pressed.png);
}

.button-begin:focused{
   -fx-border-style:none;
}



.button-min{
    -fx-size:13;
	-fx-cursor:hand;
    -fx-background-image:  url(server/server-min.png);
    -fx-border-style:none;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
	-fx-size:13;
}

.button-min:hover {
-fx-background-image:  url(server/server-min-hover.png);
}

.button-min:pressed {
-fx-background-image:  url(server/server-min-pressed.png);
}

.button-min:focused {
    -fx-border-style:none;
}


.button-close{
    -fx-size:13;
		-fx-cursor:hand;
    -fx-background-image:  url(server/server-close.png);
    -fx-border-style:none;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
	-fx-size:13;
}

.button-close:hover {
-fx-background-image:  url(server/server-close-hover.png);
}

.button-close:pressed {
-fx-background-image:  url(server/server-close-pressed.png);
}

.button-close:focused {
    -fx-border-style:none;
}
