.background {

	-fx-background-image : url(server/server-back.png);
	-fx-background-color:#ea8827;
	-fx-background-size: cover;
	
}


.label {
    -fx-font-size: 13pt;
    -fx-font-family: "方正幼线简体 常规";
    -fx-text-fill: black;
    -fx-opacity: 1;
}


.label-header {
    -fx-font-size: 20pt;
    -fx-font-family: "方正幼线简体 常规";
    -fx-text-fill: black;
    -fx-opacity: 1;
}


.button-out {
	-fx-background-image : url(server/stopp.png);
	-fx-background-color: #282828;
	-fx-border-style:none;
}

.button-out:hover {
   -fx-background-image : url(server/stop-hover.png);
}

.button-out:pressed, .button-out:default:hover:pressed {
   -fx-background-image : url(server/stop-pressed.png);
}

.button-out:focused{
   -fx-border-style:none;
}


.button-begin {
	-fx-background-image : url(server/start.png);
	-fx-background-color: #282828;
	-fx-border-style:none;
}

.button-begin:hover {
   -fx-background-image : url(server/start-hover.png);
}

.button-begin:pressed, .button-begin:default:hover:pressed {
   -fx-background-image : url(server/start-pressed.png);
}

.button-begin:focused{
   -fx-border-style:none;
}

