.background {

	-fx-background-image : url(server/server.png);
	-fx-background-color:#ea8827;
	-fx-background-size: cover;
	
}


.label {
    -fx-font-size: 13pt;
    -fx-font-family: "方正幼线简体 常规";
    -fx-text-fill: black;
    -fx-opacity: 1;
}


.label-header {
    -fx-font-size: 20pt;
    -fx-font-family: "方正幼线简体 常规";
    -fx-text-fill: black;
    -fx-opacity: 1;
}


.button-out {
	-fx-background-image : url(server/stop.png);
	-fx-background-color: #282828;
	-fx-border-style:none;
}

.button-out:hover {
   -fx-background-image : url(server/stopHover.png);
}

.button-out:pressed, .button-out:default:hover:pressed {
   -fx-background-image : url(server/stopPressed.png);
}

.button-out:focused{
   -fx-border-style:none;
}


.button-begin {
	-fx-background-image : url(server/begin.png);
	-fx-background-color: #282828;
	-fx-border-style:none;
}

.button-begin:hover {
   -fx-background-image : url(server/beginHover.png);
}

.button-begin:pressed, .button-begin:default:hover:pressed {
   -fx-background-image : url(server/beginPressed.png);
}

.button-begin:focused{
   -fx-border-style:none;
}

