.background{
-fx-background-image:url(pic/personView.png);
-fx-background-size:cover;

}


.label{
-fx-text-fill:#dcdbdb;
    -fx-font-family: "方正幼线简体 常规";

}

.button{
    -fx-border-top-left-radius:0px;
	-fx-border-top-right-radius:0px;
    -fx-border-bottom-left-radius:0px;
	-fx-border-bottom-right-radius:0px;
    -fx-size:10;
	-fx-background-color:#393939;
    -fx-border-style :none;
    -fx-font-size: 10pt;
	-fx-text-fill:#dcdbdb;
}
.button:hover{
-fx-background-color:#181818;
}

.button:pressed{
-fx-background-color:#e8e8e8;
-fx-text-fill:#181818;
}

.button:focused{
-fx-text-fill:#181818;
-fx-background-color:#e8e8e8;
-fx-border-style:none;
}
