.background{
	-fx-background-image: url(pic/Back.png);
	-fx-background-size: cover;
}

.background-add{
	-fx-background-image: url(pic/dialog.png);
}


.label {
    -fx-font-size: 13pt;
    -fx-font-family: "方正幼线简体 常规";
	-fx-font-color:#dcdbdb;
    -fx-text-fill: #dcdbdb;
    -fx-opacity: 1;
}


.label-header {
    -fx-font-size: 20pt;
}

.date-picker{
-fx-size:10;
-fx-base:gray;
-fx-focus-color:white;
}

.choice-box{
-fx-size:10;
-fx-base:gray;
-fx-focus-color:white;
}

.text-field {

	-fx-border-style :none;
	-fx-background-color:gray;
    -fx-size:10;
    -fx-font-size: 10pt;
	-fx-text-fill: #1c1c1c;
    -fx-font-family: "方正幼线简体 常规";
    -fx-border-style :none;
	-fx-outline:none;
}

.text-field:focused{
	-fx-background-color:#bfbfbf;
     -fx-border-style :none;
	 -fx-border-outline:none;
	 -fx-outline-style:none;
	 -fx-outline:none;
	 
}

.button{
    -fx-border-top-left-radius:0px;
	-fx-border-top-right-radius:0px;
    -fx-border-bottom-left-radius:0px;
	-fx-border-bottom-right-radius:0px;
	-fx-cursor:hand;
    -fx-size:10;
	-fx-background-color:gray;
    -fx-border-style :none;
    -fx-font-size: 10pt;
	-fx-text-fill:#e6e6e6;
}
.button:hover{
    -fx-background-color:#181818;
}

.button:pressed{
-fx-background-color:#6e6e6e;
	-fx-text-fill:#232323;
}

.button:focused{
    -fx-border-style :none;
}


.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}