.background {

	-fx-background-image : url(login/logistics/search-background.png);
	-fx-background-size: cover;
	
}


.table-view {
    -fx-base: #c9c8c8;
    -fx-control-inner-background: #c9c8c8;
    -fx-background-color: #c9c8c8;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field.id {

    -fx-background-image : url(pic/logistics/search-text-field.png);
	-fx-border-style :none;
    -fx-size:13;
    -fx-font-size: 10pt;
	-fx-color: black;
    -fx-font-family: "方正幼线简体 常规";
	
}

.text-field.id:focused{
-fx-background-image : url(pic/logistics/search-text-field-focus.png);
     -fx-border-style :none;

}



.button.sure {
    -fx-size:13;
    -fx-background-image:url(pic/logistics/search.png);
    -fx-border-style:none;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
	-fx-size:13;
}

.button.sure:hover {
    -fx-background-image:url(pic/logistics/search-hover.png);
}

.button.sure:pressed, .button.sure:default:hover:pressed {
    -fx-background-image:url(pic/logistics/search-pressed.png);
}

.button.sure:focused {

    -fx-border-style:none;

}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}