.background{

}



.background-head {

	-fx-background-image : url(pic/top.png);
	-fx-background-size: cover;
	
}

.background-left {

	-fx-background-image : url(pic/left.png);
	-fx-background-size: cover;
	
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}


.text-field {

	-fx-border-style :none;
    -fx-size:13;
    -fx-font-size: 10pt;
	-fx-color: black;
    -fx-font-family: "方正幼线简体 常规";
	
}

.text-field:focused{

     -fx-border-style :none;
	 -fx-color: gray;
}



.toggle-button{
    -fx-border-top-left-radius:0px;
	-fx-border-top-right-radius:0px;
    -fx-border-bottom-left-radius:0px;
	-fx-border-bottom-right-radius:0px;
    -fx-size:150;
	-fx-background-color:purple;
    -fx-border-style :none;
    -fx-font-size: 15pt;
	-fx-text-fill:#dcdbdb;
}
.toggle-button:hover{
-fx-background-color:#eeeeee;
}

.toggle-button:pressed{
-fx-background-color:green;
-fx-text-fill:#181818;
}

.toggle-button:released{
-fx-background-color:black;
-fx-text-fill:white;
}

.toggle-button:active{
-fx-text-fill:#181818;
-fx-background-color:blue;
-fx-border-style:none;
}
/*
.button-left{
    -fx-size:80;
	-fx-background-color:#393939;
    -fx-border-style :none;
    -fx-font-size: 15pt;
	-fx-font-color:#ffffff;
}
.button-left:hover{
-fx-background-color:#e9e9e9;
}

.button-left:pressed{
-fx-background-color:#0397c9;
}

.button-left:focused{
-fx-background-color:#0397c9;
-fx-border-style:none;
}
*/
.button-close {
    -fx-size:13;
	-fx-background-image:url(pic/close.png);
    -fx-border-style :none;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
	-fx-size:13;
}

.button-close:hover {
	-fx-background-image:url(pic/closeHover.png);
}

.button-close:pressed, .button-close:default:hover:pressed {
	-fx-background-image:url(pic/closePressed.png);
}

.button-close:focused {

    -fx-border-style: none;

}

.button-max {
    -fx-size:13;
	-fx-background-image:url(pic/max.png);
    -fx-border-style :none;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
	-fx-size:13;
}

.button-max:hover {
	-fx-background-image:url(pic/maxHover.png);
}

.button-max:pressed, .button-max:default:hover:pressed {
	-fx-background-image:url(pic/maxPressed.png);
}

.button-max:focused {
    -fx-border-style: none;
}
.button-min {
    -fx-size:13;
	-fx-background-image:url(pic/min.png);
    -fx-border-style :none;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
	-fx-size:13;
}

.button-min:hover {
	-fx-background-image:url(pic/minHover.png);
}

.button-min:pressed, .button-min:default:hover:pressed {
	-fx-background-image:url(pic/minPressed.png);
}

.button-min:focused {
    -fx-border-style: none;
}

