.background{

}



.background-head {

	-fx-background-image : url(pic/777.png);
	-fx-background-size: cover;
	
}

.background-left {

	-fx-background-image : url(pic/999.png);
	-fx-background-size: cover;
	
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}


.text-field {

	-fx-border-style :none;
    -fx-size:13;
    -fx-font-size: 10pt;
	-fx-color: black;
    -fx-font-family: "方正幼线简体 常规";
	
}

.text-field:focused{

     -fx-border-style :none;
	 -fx-color: gray;
}


.button{
    -fx-border-top-left-radius:0px;
	-fx-border-top-right-radius:0px;
    -fx-border-bottom-left-radius:0px;
	-fx-border-bottom-right-radius:0px;
    -fx-size:150;
	-fx-background-color:purple;
    -fx-border-style :none;
    -fx-font-size: 15pt;
	-fx-text-fill:#dcdbdb;
}

.button:hover{
-fx-background-color:green;
}

.button:selected{
-fx-text-fill:#181818;
-fx-background-color:blue;
-fx-border-style:none;
}

.button:active{
-fx-text-fill:#181818;
-fx-background-color:blue;
-fx-border-style:none;
}

.toggle-button{
    -fx-border-top-left-radius:0px;
	-fx-border-top-right-radius:0px;
    -fx-border-bottom-left-radius:0px;
	-fx-border-bottom-right-radius:0px;
    -fx-size:150;

    -fx-border-style :none;
    -fx-font-size: 15pt;

	
		-fx-text-fill:#e1e1e1;
	-fx-background-image:url(pic/button-left-pressed.png);
}
.toggle-button:hover{

	-fx-background-image:url(pic/button-left-hover.png);
    -fx-background-color:#181818;
}

.toggle-button:selected{
	-fx-text-fill:#e1e1e1;
	-fx-background-image:url(pic/button-left.png);
	-fx-background-color:#393939;
    -fx-border-style:none;
}

.button-person {
    -fx-size:13;
	-fx-background-image:url(pic/buttons/person.png);
    -fx-border-style :none;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
	-fx-size:13;
}

.button-person:hover {
	-fx-background-image:url(pic/buttons/person-hover.png);
}

.button-person:pressed, .button-person:default:hover:pressed {
	-fx-background-image:url(pic/buttons/person-pressed.png);
}

.button-person:focused {

    -fx-border-style: none;

}





.button-close {
    -fx-size:13;
	-fx-background-image:url(pic/buttons/close.png);
    -fx-border-style :none;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
	-fx-size:13;
}

.button-close:hover {
-fx-background-color:#0f0f0f;
	-fx-background-image:url(pic/buttons/close-hover.png);
}

.button-close:pressed, .button-close:default:hover:pressed {
	-fx-background-image:url(pic/buttons/close-pressed.png);
}

.button-close:focused {
	-fx-background-image:url(pic/buttons/close-pressed.png);
    -fx-border-style: none;

}

.button-max {
    -fx-size:13;
	-fx-background-image:url(pic/buttons/da.png);
    -fx-border-style :none;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
	-fx-size:13;
}

.button-max:hover {
	-fx-background-image:url(pic/buttons/da-hover.png);
}

.button-max:pressed, .button-max:default:hover:pressed {
	-fx-background-image:url(pic/buttons/da-pressed.png);
}

.button-max:focused {
    -fx-border-style: none;
}
.button-min {
    -fx-size:13;
	-fx-background-image:url(pic/buttons/xiao.png);
    -fx-border-style :none;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
	-fx-size:13;
}

.button-min:hover {
	-fx-background-image:url(pic/buttons/xiao-hover.png);
}

.button-min:pressed, .button-min:default:hover:pressed {
	-fx-background-image:url(pic/buttons/xiao-pressed.png);
}

.button-min:focused {
    -fx-border-style: none;
}

.button-chi {
    -fx-size:13;
	-fx-background-image:url(pic/buttons/set.png);
	-fx-background-color:#1c1c1c;
    -fx-border-style :none;
	-fx-size:13;
}

.button-chi:hover {
	-fx-background-image:url(pic/buttons/set-hover.png);
		-fx-background-color:#1c1c1c;
}

.button-chi:pressed, .button-chi:default:hover:pressed {
	-fx-background-image:url(pic/buttons/set-pressed.png);
		-fx-background-color:#1c1c1c;
}

.button-chi:focused {
    -fx-border-style: none;
}
