.background{

}

.background-head {

	-fx-background-image : url(pic/top.png);
	-fx-background-size: cover;
	
}

.background-left {

	-fx-background-image : url(pic/left.png);
	-fx-background-size: cover;
	
}


.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {

	-fx-border-style :none;
    -fx-size:13;
    -fx-font-size: 10pt;
	-fx-color: black;
    -fx-font-family: "方正幼线简体 常规";
	
}

.text-field:focused{

     -fx-border-style :none;

}

.button {
    -fx-size:13;
    -fx-border-sty :none;
    -fx-font-family: "方正幼线简体 常规", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
	-fx-size:13;
}

.button-close {
    -fx-size:13;
	-fx-background-image:url(pic/close.png);
    -fx-border-style :none;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
	-fx-size:13;
}

.button-close:hover {
	-fx-background-image:url(pic/closeHover.png);
}

.button-close:pressed, .button-sure:default:hover:pressed {
	-fx-background-image:url(pic/closePressed.png);
}

.button-close:focused {

    -fx-border-style: none;

}

.button-max {
    -fx-size:13;
	-fx-background-image:url(pic/max.png);
    -fx-border-style :none;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
	-fx-size:13;
}

.button-max:hover {
	-fx-background-image:url(pic/maxHover.png);
}

.button-max:pressed, .button-sure:default:hover:pressed {
	-fx-background-image:url(pic/maxPressed.png);
}

.button-max:focused {
    -fx-border-style: none;
}
.button-min {
    -fx-size:13;
	-fx-background-image:url(pic/min.png);
    -fx-border-style :none;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
	-fx-size:13;
}

.button-min:hover {
	-fx-background-image:url(pic/minHover.png);
}

.button-min:pressed, .button-sure:default:hover:pressed {
	-fx-background-image:url(pic/minPressed.png);
}

.button-min:focused {
    -fx-border-style: none;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}