/* Colors of JavaFX pie chart slices. */




.data0.chart-pie { 
-fx-pie-color: turquoise; 
-fx-font-color:white;
-fx-text-fill:white;
}



.data1.chart-pie { -fx-pie-color: aquamarine; 
-fx-font-color:white;
-fx-text-fill:white;}

.data2.chart-pie { -fx-pie-color: cornflowerblue; 
-fx-font-color:white;
-fx-text-fill:white;}

.data3.chart-pie { -fx-pie-color: blue; 
-fx-font-color:white;
-fx-text-fill:white;}

.data4.chart-pie { -fx-pie-color: cadetblue; 
-fx-font-color:white;
-fx-text-fill:white;}

.data5.chart-pie { -fx-pie-color: navy; }

.data6.chart-pie { -fx-pie-color: deepskyblue; }

.data7.chart-pie { -fx-pie-color: cyan; }

.data8.chart-pie { -fx-pie-color: steelblue; }

.data9.chart-pie { -fx-pie-color: teal; }

.data10.chart-pie { -fx-pie-color: royalblue; }

.data11.chart-pie { -fx-pie-color: dodgerblue; }

 
.chart-pie-label-line{
-fx-text-fill:white;
-fx-font-color:white;
}
.chart-legend { -fx-background-color: #171717; }
